<mat-grid-list cols="3" rowHeight="4:1" gutterSize="10px">
  <mat-grid-tile style="background-color: red" colspan="2"> Tile 1 </mat-grid-tile>
  <mat-grid-tile style="background-color: green" rowspan="2"> Tile 2 </mat-grid-tile>
  <mat-grid-tile style="background-color: blue" colspan="2"> Tile 3 </mat-grid-tile>
  <mat-grid-tile style="background-color: yellow" colspan="3" rowspan="4"> Tile 4
    <mat-grid-tile-header>
      <h3 mat-line>header Title</h3>
      <span mat-line>Say hellow</span>
      <span mat-line>yeahhhhhhh</span>
      <mat-icon>list</mat-icon>
    </mat-grid-tile-header>

    <mat-grid-tile-footer>
      <span matLine>the One</span>
      <span matLine>the second</span>
      <span matLine>the third</span>
      <button mat-fab><mat-icon>menu</mat-icon></button>
    </mat-grid-tile-footer>
  </mat-grid-tile>


</mat-grid-list>
