.mat-grid-tile{
  .mat-grid-tile-header,
  .mat-grid-tile-footer{
    padding: 10px;
  }

}

.mat-card{
  border: 1px solid #000;
  border-radius: 50px;
  height: auto;
  &:focus{
    background-color: #cccccccc;
    transition: .3s;
  }
}

.blog-sidebard-content {
  align-self: flex-start;
  padding-top: 100px;
  width: 95%;
}
